
#suspended
{
    background-color: #1c1d8b;
    position: fixed;
    margin: 0;
    width:100%;
    top:0;
    left:0;
}

.icon
{
    width: 120px;
    margin: 12px;
    display: inline-block;
    position: relative;
    left:10%;
}

.backGround
{
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index: -1000;
    height:100vh;
    width: 100vm;
    opacity: 0.78;
}
.backGround img
{
    display: block;
    width: 100%;
    height: 100%;
}
section
{
    padding:36px;
    margin: 24px;
}

h1{
     text-align: center;
     color: azure;
 }
