
#suspended
{
    background-color: #1c1d8b;
    position: fixed;
    margin: 0;
    width:100%;
    top:0;
    left:0;
    display: inline;
}
ul
{
    list-style-type: none;
    margin:0;
    padding:0;
    vertical-align: middle;
 }
li{

}
a{
    color: #688eb3;
    text-decoration: none;
}
.icon
{
    width: 120px;
    margin: 12px;
    position: relative;
    left:10%;
}

.backGround
{
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index: -1000;
    height:100vh;
    width: 100vm;
    opacity: 0.8;
}
.backGround img
{
    display: block;
    width: 100%;
    height: 100%;
}
section
{
    padding:36px;
    margin: 24px;
}

h1{
     text-align: center;
     color: azure;
     font-size: 28px;
     padding: 24px;
 }
h2{
    text-align: center;
    font-size: 20px;
    font-family: "Fangsong";
}
.block
{
    margin-left: 15%;
    margin-right: 15%;
    padding:2.5%;
    background: whitesmoke;
    opacity: 0.7;
}