<!DOCTYPE html>
<html lang="en">
<head>
    <link href = "/static/css/FY-forum.css" rel="stylesheet" >
    <script type="text/javascript" src="../static/js/jQuery3.js"></script>
    <script type="text/javascript" src="../static/js/FY-forum.js"></script>
    <meta charset="UTF-8">
    <title>FY forum</title>
</head>


<body>
<header>
    <div id="suspended">
        <div class="icon">
            <a href="https://www.fyscu.com/"><img src="/static/FY-icon.png"></a>
        </div>
        <ul>
            <li><a href="home">主页</a></li>
            <li><a href="post">发帖</a></li>
            <li><a href="login">登陆</a></li>
        </ul>
    </div>
</header>
<section>
    <div  class="backGround">
        <img src="/static/FY-desktop.jpg"/>
    </div>
    <div>
        <form>
            <input class="input1" type="text" placeholder="主题 (3-20字）"/>
            <textarea placeholder="正文 （最少50字）"></textarea>
            <br>
            <button type="submit">发帖</button>
        </form>

    </div>

</section>
</body>
</html>